@media (max-width: 600px) {
  .home {
    padding: 160px 0px 220px 0px;
    background: url(/assets/img/bg/website-cover-mobile.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
  .home-behind-content {
    font-size: 74px;
  }
  .nav-button {
    display: none;
  }
  .behind-content-inner h2 {
    font-size: 32px;
  }
  .behind-content-inner p {
    margin-top: 12px;
  }
  .home-row {
    margin-top: 220px !important;
  }
  .cat {
    display: flex;
    flex-wrap: wrap;
  }
  .cat-cards {
    flex: 0 0 50%;
    width: 200px;
    display: grid;
    margin: auto;
    place-items: center;
    padding: 0px 10px;
    height: auto;
  }
  .slider-item1 {
    flex: 0 0 calc(100%) !important;
  }
  .testimonials {
    padding: 2rem 0rem;
    margin: 20px 0px !important;
    width: 100%;
  }
  .cat-inner {
    width: 100%;
    padding: 15px 0px 10px;
    background: #ffff;
    border-radius: 10px;
    margin: 15px 0px;
  }
  .cat-cards img {
    border-radius: 5px 5px 0px 0px;
    width: 50px !important;
    height: 50px;
  }
  .sc1 {
    width: 100%;
  }
  .slider-item {
    flex: 0 0 100% !important;
    height: 100% !important;
  }
  .silder-pad {
    margin: 0px !important;
    position: relative;
    overflow: hidden;
  }
  .cust {
    padding: 60px 0px 0px;
  }
  .cust-inner h2 {
    font-size: 22px;
    color: #ffffff;
  }
  .form {
    padding: 20px;
  }
  .faq {
    padding: 40px 20px;
  }

  .trip-home {
    padding: 60px 0px 50px !important;
    margin-top: 0;
  }
  .trip-inner h2 {
    font-size: 16px;
  }
  .trip-inner p {
    font-size: 14px;
  }
  .trip-home h1 {
    font-size: 34px;
    line-height: 40px;
  }
  .col-6 {
    margin: 24px 0px;
  }
  .trip-about::before {
    left: 22px !important;
  }
  .travel-des::before {
    top: -76% !important;
    right: 0px !important;
  }
  .head {
    margin: 0 0 1.5rem;
    font-size: 26px;
  }
  .travel-des {
    padding: 30px 30px 30px !important;
  }
  .Desitination {
    padding: 60px 0px 10px !important;
  }

  .tabgroup div {
    padding: 20px;
  }
  .ilt-up {
    padding: 0px 0px 50px !important;
  }
  .acc-inner {
    padding: 15px !important;
  }
  .accordion-button {
    font-size: 16px !important;
  }
  .sticky-sidebar {
    padding: 0px 20px;
  }
  .trip-form a {
    margin: 30px 0px;
  }
  .slider-item2 {
    flex: 0 0 calc(100%) !important;
    padding: 15px;
  }
  .silder-inner h3 {
    font-size: 10px !important;
  }
  .silder-inner h2 {
    font-size: 16px !important;
    margin-bottom: 0.3rem;
  }
  .silder-inner h4 > img {
    width: 15px !important;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 0px;
  }
  .home-icon-content h3 {
    font-size: 18px !important;
  }
  .home-icon-content h4 {
    font-size: 16px !important;
  }

  .home-icon-content img {
    width: 45px !important;
    height: 51px !important;
  }
  .silder-inner h4 {
    font-size: 12px !important;
    margin: 0;
  }
  .inner {
    padding-top: 5px;
  }
  .silder-inner {
    padding: 20px !important;
    background: #ffff;
  }
  .container-fluid {
    width: 100% !important;
  }
  .slider-item1 img {
    height: 200px;
  }
  .silder-inner p > img {
    width: 15px !important;
    height: 15px;
  }
  .silder-inner h4 > img {
    width: 15px !important;
    height: 15px;
  }
  .slide-box .comment {
    font-size: 12px;
  }
  .silder-inner p {
    margin: 0 !important;
    padding-bottom: 10px !important;
    font-size: 14px !important;
  }
  .silder-inner h4 > img {
    margin-top: 0px !important;
  }
  .slider-item,
  .slider-item1 {
    width: 100%;
  }
  /* .silder-container {
    transition: transform 0.3s ease;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  } */
  .above-form h2 {
    font-size: 30px;
    margin: 20px 0px;
    color: #094067;
    font-weight: 500;
  }
  .above-form h3 {
    font-size: 20px;
    color: #00b3ff;
  }
  .form-section a {
    font-size: 16px !important;
  }
  .cust-inner h2 {
    font-size: 20px;
    color: #ffffff;
  }
  .cust-inner h3 {
    font-size: 14px;
    color: #ffffff;
  }
  .upcoming-trips {
    margin-top: 30px;
  }
  .footer-text p {
    text-align: center;
    font-size: 12px;
  }
  .footer-logo {
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-social-icon {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .footer-logo img {
    text-align: center;
  }
  .fc-inner p {
    font-size: 10px;
  }
  .fc-inner h3 {
    font-size: 12px;
  }
  .footer-logo {
    margin: auto;
  }
  .footer-widget-heading h3 {
    text-align: start;
    border-bottom: 2px solid;
    font-size: 14px;
  }
  .footer-contact-item span {
    padding: 10px;
    height: 32px;
    width: 32px;
    font-size: 12px;
  }
  .slider-item .silder-inner p {
    margin: 0;
  }
  .footer-widget ul li {
    text-align: start;
    margin-bottom: 5px;
  }
  .footer-contact-item {
    margin-bottom: 8px;
  }
  .footer-widget ul li a {
    font-size: 10px;
  }
  .footer-widget {
    padding: 0px 10px;
    display: grid;
    place-items: start;
  }
  .slider-container {
    padding-bottom: 0px !important;
  }
  /* .prev-btn,
  .next-btn {
    display: none !important;
  } */
  .next-btn {
    right: 20px !important;
    background: #094067;
  }
  .prev-btn {
    left: 9px;
    width: 55px;
  }
  .next-btn:hover {
    background: #00b3ff;
    color: #fff;
  }
  .slider-item1 a {
    width: 81%;
  }
  .nav-link.active {
    display: inline;
  }
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 49% !important;
    height: 55px;
  }
  .tab-con {
    padding: 20px;
  }
  .upcoming-slot h3 {
    font-size: 16px;
  }
  .upcoming-slot h4 {
    font-size: 14px;
  }
  .price h4 {
    font-size: 16px;
  }
  .travel-des a {
    width: 180px;
    margin: auto;
  }
  .travel-des p {
    text-align: justify;
  }
  .trip-inner1 {
    margin: 40px 0px !important;
  }
  .slider-item {
    margin: 0 !important;
  }
  .slider-item1 {
    margin: 0 !important;
  }
  .sc1 {
    width: 100% !important;
  }
  .first-section {
    display: block;
  }
  .fs1 {
    padding: 20px 0px 0px 10px;
  }
  .fs1 p {
    font-size: 10px;
  }
  .fs2 {
    padding: 10px 0px 0px;
    justify-content: space-between;
  }
  .fs2 a {
    font-size: 12px;
  }

  .itinerary-logo-content {
    display: flex;
    flex-wrap: wrap;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .swiper-slide a {
    width: 98%;
  }
  .swiper-slide img {
    max-height: 150px;
    object-fit: cover !important;
  }
}
